<nav role="tablist" [class]="navClasses() + ' ' + navClass">
  <ng-container>
    @for (tab of tabs; track tab.label; let i = $index) {
      <a
        role="tab"
        [class]="getTabClasses(i)"
        (click)="setActive(i)">
        @if (tab.labelTemplate) {
          <ng-container [ngTemplateOutlet]="tab.labelTemplate"></ng-container>
        } @else {
          {{ tab.label }}
        }
      </a>
    }
  </ng-container>
</nav>

<section role="tabpanel" [class]="panelClasses()">
  <ng-container>
    @for (tab of tabs; track tab.label; let i = $index) {
      @if (activeIndex() === i) {
        <ng-container [ngTemplateOutlet]="tab.template"></ng-container>
      }
    }
  </ng-container>
</section>
