@if (isOpen()) {
  <div class="fixed inset-0 flex items-center bg-white/5 backdrop-blur-sm justify-center z-50">
    <div class="bg-base-100 shadow-2xl p-6 rounded-2xl w-full max-w-md">
      <h2 class="text-xl font-bold mb-4">Modifier mes informations</h2>
      <form [formGroup]="userForm" (ngSubmit)="submit()">
        <input formControlName="username" placeholder="Nom d'utilisateur" class="text-black input mb-2 w-full" />
        @if(errorMessage()) { <div class="alert alert-error">{{ errorMessage() }}</div> }
        <div class="flex gap-2 mt-4">
          <button type="button" class="btn btn-outline" (click)="close.emit()">Annuler</button>
          <button type="submit" class="btn btn-primary" [disabled]="isLoading()">
            @if(isLoading()) { <span class="loading loading-spinner"></span> }
            Sauvegarder
          </button>
        </div>
      </form>
    </div>
  </div>
}
