<fieldset class="fieldset overflow-x-auto w-full bg-base-200 border-base-300 rounded-box border p-4">
  @if (user && user.favorites && user.favorites.length > 0) {
    <table class="table table-zebra w-full bg-base-100 border border-base-300 rounded-lg shadow-sm">
      <thead>
      <tr class="text-center">
        <th>Export Qualité de l'air</th>
        <th>Export Population</th>
        <th>Export Météo</th>
        <th>Ville</th>
        <th>Créé le</th>
        <th>Modifié le</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (favorite of user.favorites; track favorite.id) {
          <tr class="align-middle">
            @if (favorite?.selectAirQuality) {
              <td class="p-2 text-center">
                <div class="flex justify-center">
                  <a href="#" class="link link-primary">PDF</a>
                  <div class="divider divider-horizontal mx-"></div>
                  <a href="#" class="link link-primary">CSV</a>
                </div>
              </td>
            } @else {
              <td class="p-2 text-center">Non sélectionné</td>
            }
            @if (favorite?.selectPopulation) {
              <td class="p-2 text-center">
                <div class="flex justify-center">
                  <a href="#" class="link link-primary">PDF</a>
                  <div class="divider divider-horizontal mx-"></div>
                  <a href="#" class="link link-primary">CSV</a>
                </div>
              </td>
            } @else {
              <td class="p-2 text-center">Non sélectionné</td>
            }
            @if (favorite?.selectWeather) {
              <td class="p-2 text-center">
                <div class="flex justify-center">
                  <a href="#" class="link link-primary">PDF</a>
                  <div class="divider divider-horizontal mx-"></div>
                  <a href="#" class="link link-primary">CSV</a>
                </div>
              </td>
            } @else {
              <td class="p-2 text-center">Non sélectionné</td>
            }
            <td class="p-2 text-center">{{ favorite.cityName }}</td>
            <td class="p-2 text-center">{{ favorite.createdAt | date:'dd/MM/yyyy' }}</td>
            <td class="p-2 text-center">{{ favorite.updatedAt | date:'dd/MM/yyyy' }}</td>
            <td class="p-2 text-center">
              <div class="flex justify-center items-center">
                <app-button
                  class="w-20 h-7"
                  color="primary"
                  variant="outline"
                  (buttonClick)="editFavorites(favorite.id)"
                  (buttonKeydown)="undefined"
                >
                  Modifier
                </app-button>
                <div class="divider divider-horizontal"></div>
                <app-button
                  class="w-20 h-7"
                  color="error"
                  variant="outline"
                  (buttonClick)="deleteFavorites(favorite.id)"
                  (buttonKeydown)="undefined"
                >
                  Supprimer
                </app-button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="text-base-content/60 p-4">Aucun favori trouvé.</p>
  }
</fieldset>
<div class="mt-4">
  <app-button color="primary" size="md" variant="solid" (buttonClick)="addFavorites()" (buttonKeydown)="undefined"
              class="btn-outline btn-primary"  heroIcon="plus">
    Ajouter
  </app-button>
</div>

<!-- 🟣 Modal -->
<app-favorites-form
  [isOpen]="isModalOpen()"
  [editingFavoriteId]="editingFavoriteId"
  [initialFavoriteData]="initialFavoriteData"
  (closeModal)="onModalClose()"
></app-favorites-form>

<app-warning-message
  [isOpen]="isWarningOpen"
  [message]="warningMessage()"
  (close)="isWarningOpen.set(false)"
  (confirm)="confirmDelete()"
></app-warning-message>
