<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4" style="width: 100%;">
  @if (user) {
    @if (user.favorites && user.favorites.length > 0) {
      <section class="profile-favorites">
        <h2>Favoris</h2>
        <ul>
          @for (favorite of user.favorites; track favorite) {
            <li>{{ favorite.id }}</li>
            <li>{{ favorite.favoriteCategory }}</li>
            <li>{{ favorite.cityName }}</li>
            <li>{{ favorite.createdAt }}</li>
            <li>{{ favorite.updatedAt }}</li>
            <app-button
              color="primary"
              size="md"
              variant="solid"
              [disabled]="false"
              (click)="editFavorites()"
              ariaLabel="Modifier utilisateur"
            >
              Modifier
            </app-button>
          }
        </ul>
      </section>
    }
  }
</fieldset>
<app-button
  color="primary"
  size="md"
  variant="solid"
  [disabled]="false"
  (click)="addFavorites()"
  ariaLabel="Modifier utilisateur"
>
  Ajouter
</app-button>
