<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4" style="width: 100%;">
  @if (user && user.favorites && user.favorites.length > 0) {
    <table class="w-full border border-base-300 rounded-lg shadow-sm">
      <thead>
      <tr>
        <th class="p-2">Export Qualité de l'air</th>
        <th class="p-2">Export Population</th>
        <th class="p-2">Export Météo</th>
        <th class="p-2">Ville</th>
        <th class="p-2">Créé le</th>
        <th class="p-2">Modifié le</th>
        <th class="p-2 w-0">Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (favorite of user.favorites; track favorite.id) {
          <tr class="border-t">
            @if (favorite?.selectAirQuality) {
              <td class="p-2">
                <div class="flex justify-center">
                  <a href="#" class="link link-primary">PDF</a>
                  <div class="divider divider-horizontal mx-"></div>
                  <a href="#" class="link link-primary">CSV</a>
                </div>
              </td>
            } @else {
              <td class="p-2 text-center">Non sélectionner</td>
            }
            @if (favorite?.selectPopulation) {
              <td class="p-2">
                <div class="flex justify-center">
                  <a href="#" class="link link-primary">PDF</a>
                  <div class="divider divider-horizontal mx-"></div>
                  <a href="#" class="link link-primary">CSV</a>
                </div>
              </td>
            } @else {
              <td class="p-2 text-center">Non sélectionner</td>
            }
            @if (favorite?.selectWeather) {
              <td class="p-2">
                <div class="flex justify-center">
                  <a href="#" class="link link-primary">PDF</a>
                  <div class="divider divider-horizontal mx-"></div>
                  <a href="#" class="link link-primary">CSV</a>
                </div>
              </td>
            } @else {
              <td class="p-2 text-center">Non sélectionner</td>
            }
            <td class="p-2 text-center">{{ favorite.cityName }}</td>
            <td class="p-2 text-center">{{ favorite.createdAt }}</td>
            <td class="p-2 text-center">{{ favorite.updatedAt }}</td>
            <td class="p-2 flex justify-center">
              <app-button
                class="w-20 h-7 divider-horizontal divider-start btn-outline btn-primary"
                color="primary"
                variant="solid"
                (buttonClick)="editFavorites(favorite.id)"
                (buttonKeydown)="undefined"
              >
                Modifier
              </app-button>
              <div class="divider divider-horizontal"></div>
              <app-button
                class="w-20 h-7 divider-horizontal divider-start btn-outline"
                color="error"
                variant="solid"
                (buttonClick)="deleteFavorites(favorite.id)"
                (buttonKeydown)="undefined"
              >
                Supprimer
              </app-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>Aucun favori trouvé.</p>
  }
</fieldset>
<br>
<app-button color="primary" size="md" variant="solid" (buttonClick)="addFavorites()" (buttonKeydown)="undefined" class="btn-outline btn-primary">
  Ajouter
</app-button>

<!-- 🟣 Modal -->
<app-favorites-form
  [isOpen]="isModalOpen()"
  [editingFavoriteId]="editingFavoriteId"
  [initialFavoriteData]="initialFavoriteData"
  (closeModal)="onModalClose()"
></app-favorites-form>

<app-warning-message
  [isOpen]="isWarningOpen"
  [message]="warningMessage()"
  (close)="isWarningOpen.set(false)"
  (confirm)="confirmDelete()"
></app-warning-message>
