# Environment variables
.env

# Docker
*.log
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Dependencies (quand on les ajoutera)
node_modules/
target/

# Build outputs (quand on les ajoutera)
dist/
build/


# ==============================
# SonarQube & Coverage Reports
# ==============================
# Backend
air-sphere-connect-back/target/jacoco.exec
air-sphere-connect-back/target/site/jacoco/
air-sphere-connect-back/.scannerwork/

# Frontend
air-sphere-connect-front/coverage/
air-sphere-connect-front/.scannerwork/
air-sphere-connect-front/.nyc_output/

# SonarQube
.sonarqube/
.sonar/
