@if (isOpen()) {
  <div class="fixed inset-0 flex items-center bg-white/5 backdrop-blur-sm justify-center z-50">
    <div class="bg-base-100 shadow-2xl p-6 rounded-2xl w-full max-w-md relative">
      <app-button-close-modal
        (close)="closeModal()">
      </app-button-close-modal>
      <h3 class="text-lg font-bold mb-4">
        {{ editingAlertsId ? 'Modifier l\'alerte' : 'Ajouter une alerte' }}
      </h3>

      <form [formGroup]="alertsForm" (ngSubmit)="submitForm()">
        <label class="block mb-2 font-semibold">Alerte activée</label>
        <label class="flex items-center gap-2 mb-4">
          <input type="checkbox" formControlName="activeAlert" class="checkbox checkbox-primary"/>
          <span>Activer cette alerte</span>
        </label>

        <app-input
          formControlName="cityName"
          (input)="onCityInput($event)"
          label="Ville"
        ></app-input>

        <div class="bg-white rounded mt-2 max-h-32 overflow-y-auto">
          @if (citySuggestions().length) {
            @for (city of citySuggestions(); track city.id) {
              <button type="button" class="block w-full text-left px-2 py-1 hover:bg-gray-200"
                      (click)="selectCity(city)">
                {{ city.name }}
              </button>
            }
          }
        </div>

        <p class="text-red-700 mt-2" [hidden]="!errorMessage">{{ errorMessage }}</p>

        <div class="flex justify-end gap-2 mt-4">
          <app-button
            type="submit"
          >
            {{ editingAlertsId ? 'Modifier' : 'Ajouter' }}
          </app-button>
        </div>
      </form>
    </div>
  </div>
}
