@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@plugin "daisyui";

/* THÈME LIGHT - AIRSPHERE */

@plugin "daisyui/theme" {
  name: "airsphere";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* PRIMARY - Emerald */
  --color-primary: oklch(69% 0.17 162.48);
  --color-primary-content: oklch(97% 0.021 166.113);

  /* SECONDARY - Sky */
  --color-secondary: oklch(68% 0.169 237.323);
  --color-secondary-content: oklch(97% 0.013 236.62);

  /* ACCENT - Lime */
  --color-accent: oklch(76% 0.233 130.85);
  --color-accent-content: oklch(98% 0.031 120.757);

  /* NEUTRAL - Stone */
  --color-neutral: oklch(55% 0.013 58.071);
  --color-neutral-content: oklch(98% 0.001 106.423);

  /* SUCCESS - Green */
  --color-success: oklch(72.3% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);

  /* WARNING - Amber */
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);

  /* INFO - Blue */
  --color-info: oklch(62.3% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);

  /* ERROR - Red */
  --color-error: oklch(63.7% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);

  /* BASE - Backgrounds */
  --color-base-100: oklch(98.5% 0.001 106.423);  /* BG form, card */
  --color-base-200: oklch(97% 0.001 106.424);    /* BG Body */
  --color-base-300: oklch(92% 0.003 48.717);     /* BG Besoins spécifiques */
  --color-base-content: oklch(21% 0.006 56.043); /* Texte général */

  /* Radius */
  --radius-box: 0.5rem;       /* Card, modal, alert, form */
  --radius-field: 0.75rem;    /* Button, input, tab */
  --radius-selector: 1rem;    /* Checkbox, toggle, badge */

  /* Tailles */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Bordures */
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* THÈME DARK - AIRSPHERE */

@plugin "daisyui/theme" {
  name: "airspheredark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  /* PRIMARY - Emerald (plus clair en dark) */
  --color-primary: oklch(76.5% 0.177 163.223);
  --color-primary-content: oklch(37.8% 0.077 168.94);

  /* SECONDARY - Sky */
  --color-secondary: oklch(74.6% 0.16 232.661);
  --color-secondary-content: oklch(39.1% 0.09 240.876);

  /* ACCENT - Lime */
  --color-accent: oklch(84.1% 0.238 128.85);
  --color-accent-content: oklch(40.5% 0.101 131.063);

  /* NEUTRAL - Stone */
  --color-neutral: oklch(55% 0.013 58.071);
  --color-neutral-content: oklch(21.6% 0.006 56.043);

  /* SUCCESS - Green */
  --color-success: oklch(79.2% 0.209 151.711);
  --color-success-content: oklch(39.3% 0.095 152.535);

  /* WARNING - Amber */
  --color-warning: oklch(82.8% 0.189 84.429);
  --color-warning-content: oklch(41.4% 0.112 45.904);

  /* INFO - Blue */
  --color-info: oklch(70.7% 0.165 254.624);
  --color-info-content: oklch(37.9% 0.146 265.522);

  /* ERROR - Red */
  --color-error: oklch(70.4% 0.191 22.216);
  --color-error-content: oklch(39.6% 0.141 25.723);

  /* BASE - Backgrounds (sombres) */
  --color-base-100: oklch(21% 0.006 56.043);    /* BG Card, input, buttons */
  --color-base-200: oklch(26% 0.007 34.298);    /* BG Body */
  --color-base-300: oklch(37% 0.01 67.558);     /* BG spécifique */
  --color-base-content: oklch(98% 0.001 106.423); /* Texte clair */

  /* Radius */
  --radius-box: 0.5rem;
  --radius-field: 0.75rem;
  --radius-selector: 1rem;

  /* Tailles */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Bordures */
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


[data-theme="airsphere"] {
  --btn-primary-hover: oklch(59% 0.145 163.225);
  --btn-primary-active: oklch(50% 0.118 165.612);

  --btn-secondary-hover: oklch(58% 0.158 241.966);
  --btn-secondary-active: oklch(50% 0.134 242.749);

  --btn-accent-hover: oklch(64% 0.2 131.684);
  --btn-accent-active: oklch(53% 0.157 131.589);

  --btn-success-hover: oklch(62.7% 0.194 149.214);
  --btn-success-active: oklch(52.7% 0.154 150.069);

  --btn-warning-hover: oklch(66% 0.179 58.318);
  --btn-warning-active: oklch(55% 0.163 48.998);

  --btn-error-hover: oklch(57.7% 0.245 27.325);
  --btn-error-active: oklch(50.5% 0.213 27.518);

  --btn-info-hover: oklch(54.6% 0.245 262.881);
  --btn-info-active: oklch(48.8% 0.243 264.376);

  --btn-neutral-hover: oklch(44% 0.011 73.639);
  --btn-neutral-active: oklch(37% 0.01 67.558);
}

[data-theme="airspheredark"] {
  --btn-primary-hover: oklch(84.5% 0.143 164.978);
  --btn-primary-active: oklch(89% 0.12 165);

  --btn-secondary-hover: oklch(82.8% 0.111 230.318);
  --btn-secondary-active: oklch(87% 0.09 228);

  --btn-accent-hover: oklch(89.7% 0.196 126.665);
  --btn-accent-active: oklch(92% 0.17 125);

  --btn-success-hover: oklch(87.1% 0.15 154.449);
  --btn-success-active: oklch(90% 0.13 155);

  --btn-warning-hover: oklch(87.9% 0.169 91.605);
  --btn-warning-active: oklch(91% 0.15 93);

  --btn-error-hover: oklch(80.8% 0.114 19.571);
  --btn-error-active: oklch(85% 0.10 18);

  --btn-info-hover: oklch(80.9% 0.105 251.813);
  --btn-info-active: oklch(85% 0.09 250);

  --btn-neutral-hover: oklch(70.9% 0.01 56.259);
  --btn-neutral-active: oklch(86.9% 0.005 56.366);
}

/* STYLES DE BASE */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', serif;
  background-color: var(--color-base-200);
  color: var(--color-base-content);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.text-xxs {
  font-size: 0.625rem;
}
