<mat-form-field appearance="fill" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="inputType"
    [formControl]="control"
    [placeholder]="placeholder"
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="toggleVisibility()"
    [attr.aria-label]="'Toggle password visibility'"
    [attr.aria-pressed]="showPassword"
  >
    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  @if (control.errors?.['required']) {
    <mat-error>Ce champ est requis.</mat-error>
  }
</mat-form-field>


<!--
<div class="form-group">
  <label>{{ label }}</label>
  <div class="password-wrapper">
    <input
      [type]="inputType"

      [placeholder]="placeholder"
      class="form-control"/>
    <button type="button" (click)="toggleVisibility()" class="toggle-password-btn">
      {{ showPassword ? 'Masquer' : 'Afficher' }}
    </button>
  </div>
  @if (isInvalid) {
    <div class="error-message">
      @if (control.errors?.['required']) {
        <span>Ce champ est requis.</span>
      }
    </div>
  }
</div>
</!-->
-->
