<div
  class="flex justify-between items-center p-4"
  [class.bg-scrolled]="scrolled"
  [class.bg-transparent]="!scrolled"
>
  <app-logo></app-logo>
  <div class="flex flex-row gap-2 items-center">
    <app-navbar [userRole]="userRole"></app-navbar>
    <div class="tabs tabs-box">

      <app-button variant="ghost" shape="circle" (buttonClick)="toggleTheme()" (buttonKeydown)="undefined">
        <app-icon
          [name]="isDarkTheme() ? 'sun' : 'darkMoon'"
          [color]="isDarkTheme() ? 'warning' : 'current'"
          size="md"
        />
      </app-button>

    </div>
  </div>
</div>
