<nav>
  <button (click)="goToHome()">Page d'accueil</button>
  <app-button color="neutral" variant="outline" size="xs" (click)="toggleTheme()">
    {{ themeService.isDarkMode() ? '🌙 Dark' : '☀️ Light' }}
  </app-button>
  @if (userRole === 'GUEST' || !userRole) {
    <button (click)="goToLogin()">Se connecter</button>
    <button (click)="goToRegister()">Créer un compte</button>
  } @else {
    <button (click)="goToProfile()">Mon compte</button>
    <button (click)="logout()">Déconnexion</button>
  }
</nav>
