<div>
  <h3 class="text-lg font-semibold mb-4">Suivez-nous</h3>
  <div class="flex space-x-4">
    <a href="https://www.linkedin.com/in/alcazar-sandrine/" target="_blank" aria-label="Facebook" class="hover:text-blue-500">📘</a>
    <a href="https://www.linkedin.com/in/cyril-schneidenbach-771491192/" aria-label="Twitter" target="_blank" class="hover:text-blue-400">📘</a>
    <a href="https://www.linkedin.com/in/nuno-esteves-b89792246/" aria-label="LinkedIn" target="_blank" class="hover:text-blue-700">📘</a>
  </div>
</div>

