<div class="divider"></div>
<footer class="md:px-12">
  <div class="min-w-[880px] max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
    <app-footer-about class="footer-item"></app-footer-about>

    <app-footer-links class="footer-item" [userRole]="userRole"></app-footer-links>

    <app-footer-contact class="footer-item"></app-footer-contact>

    <app-footer-social class="footer-item"></app-footer-social>
  </div>

  <div class="divider"></div>
  <div class="text-center text-xs text-gray-500">
    <p>© 2025 AirSphereConnect. Tous droits réservés.</p>
  </div>
</footer>
