<div role="tablist" class="tabs min-w-[150px] flex justify-center gap-1 flex-wrap">
  <a
    routerLink="/home"
    routerLinkActive="tab-active tab-active-primary"
    role="tab"
    class="tab tabs-md"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="onLinkClick()"
  >
    Page d'accueil
  </a>

  <a
    routerLink="/forum"
    routerLinkActive="tab-active tab-active-primary"
    role="tab"
    class="tab tabs-md"
    (click)="onLinkClick()"
  >
    Forum
  </a>

  @if (userRole === 'GUEST') {
    <a
      routerLink="/auth/login"
      routerLinkActive="tab-active tab-active-primary"
      role="tab"
      class="tab tabs-md"
      (click)="onLinkClick()"
    >
      Connexion
    </a>

    <a
      routerLink="/auth/register"
      routerLinkActive="tab-active tab-active-primary"
      role="tab"
      class="tab tabs-md"
      (click)="onLinkClick()"
    >
      Inscription
    </a>
  } @else if (userRole === 'USER' || 'ADMIN') {
    <a
      routerLink="/dashboard"
      routerLinkActive="tab-active tab-active-primary"
      role="tab"
      class="tab tabs-md"
      (click)="onLinkClick()"
    >
      Données climatiques
    </a>

    <a
      routerLink="/history"
      routerLinkActive="tab-active tab-active-primary"
      role="tab"
      class="tab tabs-md"
      (click)="onLinkClick()"
    >
      Historique
    </a>

    <a
      routerLink="/auth/profile"
      routerLinkActive="tab-active tab-active-primary"
      role="tab"
      class="tab tabs-md"
      (click)="onLinkClick()"
    >
      Mon compte
    </a>

    <a
      (click)="logout(); onLinkClick()"
      role="tab"
      class="tab tabs-md"
    >
      Déconnexion
    </a>
  }

  <app-button variant="ghost" shape="circle" (buttonClick)="toggleTheme()" (buttonKeydown)="undefined">
    <app-icon
      [name]="isDarkTheme() ? 'sun' : 'darkMoon'"
      [color]="isDarkTheme() ? 'warning' : 'current'"
      size="md"
    />
  </app-button>
</div>
