<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4" style="width: 100%;">
  @if (user && user.alerts && user.alerts.length > 0) {
    <table class="w-full border border-gray-200 rounded-lg shadow-sm">
      <thead>
      <tr>
        <th class="p-2">Ville</th>
        <th class="p-2">Créé le</th>
        <th class="p-2">Modifié le</th>
        <th class="p-2">Activé</th>
        <th class="p-2 w-0">Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (alert of user.alerts; track alert.id) {
          <tr class="border-t">
            <td class="p-2 text-center">{{ alert.cityName }}</td>
            <td class="p-2 text-center">{{ alert.createdAt }}</td>
            <td class="p-2 text-center">{{ alert.updatedAt }}</td>
            <td class="p-2 text-center">{{ alert.enabled }}</td>
            <td class="p-2 flex justify-center">
              <app-button
                class="w-20 h-7 divider-horizontal divider-start"
                color="primary"
                variant="solid"
                (click)="editAlerts(alert.id)"
              >
                Modifier
              </app-button>
              <div class="divider divider-horizontal"> </div>
              <app-button
                class="w-20 h-7 divider-horizontal divider-start"
                color="warning"
                variant="solid"
                (click)="deleteAlerts(alert.id)"
              >
                Supprimer
              </app-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>Aucun favori trouvé.</p>
  }
</fieldset>
  <br>
<app-button color="primary" size="md" variant="solid" (click)="addAlerts()">
  Ajouter
</app-button>

<app-alerts-form
  [isOpen]="isModalOpen"
  [editingAlertsId]="editingAlertsId"
  [initialAlertsData]="initialAlertData"
  (close)="onModalClose()"
></app-alerts-form>
