<form [formGroup]="addFavoritesForm" (ngSubmit)="addFavorite()">

  <app-input
    label="Ville"
    type="text"
    [control]="cityNameControl"
    placeholder="Entrez le nom de votre ville"
    (input)="onCityInput($event)">
  ></app-input>

  <app-input
    label="favoriteCategory"
    type="text"
    [control]="favoriteCategoryControl"
    placeholder="favoriteCategory"
  ></app-input>



  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

  <button
      (click)="addFavorite()"

  >
      Ajouter

  </button>
<!--
    <app-button
      type="button"
      variant="outline"
      color="info"
      class="flex-1"

    >
    </app-button>

    -->
</form>
  <!-- Suggestions de villes -->
  @if (citySuggestions.length) {
    <ul class="suggestions">
      @for (city of citySuggestions; track city) {
        <li (click)="selectCity(city)">
          {{ city.name }} ({{ city.postalCode }})
        </li>
      }
    </ul>
  }
