<form [formGroup]="addFavoritesForm" (ngSubmit)="addFavorite()">

  <app-input-field
    label="Ville"
    [control]="cityNameControl"
    placeholder="Entrez le nom de votre ville"
    (input)="onCityInput($event)">
  </app-input-field>

  <app-input-field
    label="favoriteCategory"
    [control]="favoriteCategoryControl"
    placeholder="favoriteCategory">
  </app-input-field>


  <!-- Suggestions de villes -->
  @if (citySuggestions.length) {
    <ul class="suggestions">
      @for (city of citySuggestions; track city) {
        <li (click)="selectCity(city)">
          {{ city.name }} ({{ city.postalCode }})
        </li>
      }
    </ul>
  }

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="addFavoritesForm.invalid">
      Créer le compte
    </button>
  </div>
</form>
