<div class="bg-base-100 rounded-lg p-5 shadow-md transition-colors h-full flex flex-col ">
  <div class="flex flex-col gap-6 xl:flex-row justify-between items-center mb-12">
    <h3 class="text-xl text-center xl:text-start font-semibold text-base-content m-0">
      Taux de polluants de {{ cityName() }}
    </h3>

    <div class="flex gap-1">
      @for (period of periods; track period.value) {
        <button
          class="btn btn-sm rounded-md transition-all"
          [ngClass]="selectedPeriod() === period.value
            ? 'btn-primary text-primary-content'
            : 'btn-outline btn-primary'"
          (click)="selectPeriod(period.value)">
          {{ period.label }}
        </button>
      }
    </div>
  </div>

  @if (chartData().length > 0) {
    @if (hasAlerts()) {
      <div class="bg-warning/20 border border-warning text-warning px-3 py-3 rounded mb-5 font-medium flex items-center gap-2">
        ⚠️ Alerte : {{ alertMessage() }}
      </div>
    }

    <div class="flex-1 min-h-0">
      <div class="flex flex-col lg:flex-row text-center lg:text-stretch justify-between items-center">
        <span class="text-xs text-base-content/50 mb-1 block">Concentration (µg/m³)</span>
        <vis-bullet-legend [items]="pollutantLegend()"></vis-bullet-legend>
      </div>

      <div class="overflow-x-auto">
        <div class="min-w-[500px]">
          <vis-xy-container [data]="chartData()" [height]="400" [margin]="chartMargin()">
            <vis-grouped-bar
              [x]="x"
              [y]="y"
              [color]="colors"
              [barPadding]="0.2"
              [groupPadding]="0.1">
            </vis-grouped-bar>

            <vis-axis
              type="x"
              label="Date"
              [tickFormat]="dateFormat"
              [tickTextAngle]="-45"
              [tickValues]="xTickValues()"></vis-axis>
            <vis-axis
              type="y"
              [tickFormat]="yTickFormat"></vis-axis>
            <vis-tooltip [triggers]="tooltipTriggers"></vis-tooltip>
          </vis-xy-container>
        </div>
      </div>
    </div>
  } @else {
    <p class="text-base-content opacity-60 italic text-center py-8">
      Aucune donnée de pollution disponible
    </p>
  }
</div>
