<div class="max-w-[1600px] mx-auto p-5">
  <header class="flex justify-between items-center mb-8 pb-5 border-b-2 border-gray-200">
    <h1 class="text-3xl font-bold text-gray-800"> Tableau de bord des indicateurs de la ville de
      <span class="">{{ cityName() }}</span>
      <span class="ml-2">({{ cityPostalCode() }})</span></h1>
  </header>

  @if (isLoading()) {
    <div class="loading-overlay">
      <div class="spinner"></div>
      <p>Chargement des données...</p>
    </div>
  }

  @if (error()) {
    <div class="error-banner">
      <strong>⚠️ Erreur</strong>
      <p>{{ error() }}</p>
      <app-button (click)="loadDashboard()">🔄 Réessayer</app-button>
    </div>
  }


  @if (!isLoading() && !error() && dashboardData()) {

    <div class="dashboard-content grid grid-cols-12 gap-6">

      <!-- 🗺️ Carte (pleine largeur) -->
      <section class="col-span-12">
        <app-map (citySelected)="onCitySelected($event)"></app-map>
      </section>

      <!-- 📊 CityPopulation et Pollutants côte à côte -->
      <section class="col-span-12 lg:col-span-6">
        <app-city-population-chart
          [selectedCity]="city()!">
        </app-city-population-chart>
      </section>

      <section class="col-span-12 lg:col-span-6">
        <app-pollutants-chart
          [user]="user"
          [data]="airQuality()?.measurementHistory || []"
          [cityName]="selectedCity()">
        </app-pollutants-chart>
      </section>

      <!-- 🌡️ Température (pleine largeur) -->
      <section class="col-span-12">
        <app-temperature-chart
          [data]="weatherHistory()"
          [cityName]="selectedCity()">
        </app-temperature-chart>
      </section>

    </div>
  }
</div>
