<div class="max-w-[1600px] mx-auto p-3 lg:p-6">
    <header class="mb-8 pb-5 border-b-2 border-base-300">
      <h1 class="text-2xl lg:text-3xl font-bold text-base-content">Données climatiques de
        <span>{{ cityName() }}</span>
        <span class="ml-2">({{ cityPostalCode() }})</span></h1>
    </header>

  @if (isLoading()) {
    <div class="loading-overlay">
      <div class="spinner"></div>
      <p>Chargement des données...</p>
    </div>
  }

  @if (error()) {
    <div class="error-banner">
      <strong>⚠️ Erreur</strong>
      <p>{{ error() }}</p>
      <app-button (buttonClick)="loadDashboard()" (buttonKeydown)="undefined">🔄 Réessayer</app-button>
    </div>
  }


  @if (!isLoading() && !error() && dashboardData()) {

    <div class="dashboard-content grid grid-cols-12 gap-6">
      <section class="col-span-12">
        <app-map
          [userCityName]="selectedCity()"
          (citySelected)="onCitySelected($event)">
        </app-map>
      </section>

      <section class="col-span-12 lg:col-span-6 h-full">
        <app-city-population-chart
          [selectedCity]="city()!">
        </app-city-population-chart>
      </section>

      <section class="col-span-12 lg:col-span-6 h-full">
        <app-pollutants-chart
          [user]="user"
          [data]="airQuality()?.measurementHistory || []"
          [cityName]="selectedCity()"
        class="block h-full">
        </app-pollutants-chart>
      </section>

      <section class="col-span-12">
        <app-temperature-chart
          [data]="weatherHistory()"
          [cityName]="selectedCity()">
        </app-temperature-chart>
      </section>

    </div>
  }
</div>
