<fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 w-full">
  @if (user) {
    <div class="flex flex-wrap gap-4 mb-4">
      <div class="flex flex-col flex-1">
        <div class="flex flex-raw flex-1 items-center">
          <label for="username-input" class="label font-bold">Nom utilisateur</label>
          <input id="username-input" type="text" class="input w-full" [value]="user.username" disabled autocomplete="username"/>
        </div>
        <div>
          <app-button
            type="button"
            (buttonClick)="editUser()"
            (buttonKeydown)="undefined"
            class="btn-outline btn-primary"
          >
            Modifier nom utilisateur
          </app-button>

        </div>
      </div>

      <div class="divider divider-horizontal"></div>

      <div class="flex flex-col flex-1">
        <div class="flex flex-raw flex-1 items-center">
          <label for="email-input" class="label font-bold">Email</label>
          <input id="email-input" type="text" class="input w-full" [value]="user.email" disabled autocomplete="email"/>
        </div>
        <div>

          <app-button
            type="button"
            (buttonClick)="editEmail()"
            (buttonKeydown)="undefined"
            class="btn-outline btn-primary"
          >
            Modifier email
          </app-button>
        </div>
      </div>

      <div class="divider divider-horizontal"></div>

      <div class="flex flex-col flex-1 justify-between items-center">
        <label for="role-input" class="label font-bold">Rôle</label>
        <input id="role-input" type="text" class="input w-full  text-center " [value]="user.role" disabled autocomplete="off"/>
      </div>

      <div class="divider divider-horizontal"></div>

      <div class="flex flex-raw items-center">
        <app-button
          type="button"
          (buttonClick)="editPassword()"
          (buttonKeydown)="undefined"
          class="btn-outline btn-primary"
        >
          Modifier mot de passe
        </app-button>
      </div>
    </div>
    <div class="divider divider-vertical"></div>

    @if (user.address) {
      <div class="flex flex-wrap gap-4 mb-4">
        <div class="flex flex-col flex-1">
          <label for="street-input" class="label font-bold">Adresse</label>
          <input id="street-input" type="text" class="input w-full" [value]="user.address.street" disabled autocomplete="street-address"/>
        </div>

        <div class="flex flex-col flex-1">
          <label for="city-input" class="label font-bold">Ville</label>
          <input id="city-input" type="text" class="input w-full" [value]="user.address.city.name" disabled autocomplete="address-level2"/>
        </div>

        <div class="flex flex-col flex-1">
          <label for="postal-code-input" class="label font-bold">Code postal</label>
          <input id="postal-code-input" type="text" class="input w-full" [value]="user.address.city.postalCode" disabled autocomplete="postal-code"/>
        </div>
        <div>
          <app-button
            type="button"
            (buttonClick)="editAddress()"
            (buttonKeydown)="undefined"
            class="btn-outline btn-primary"
          >
            Modifier adresse
          </app-button>

        </div>
      </div>
    }

    <div class="divider divider-vertical"></div>

    <div>

      <app-button
        color="error"
        variant="outline"
        type="button"
        (buttonClick)="deleteUser(user.id)"
        (buttonKeydown)="undefined"
      >
        Supprimer mon compte
      </app-button>
    </div>
  }
</fieldset>


<app-user-form
  [isOpen]="isUserModalOpen"
  [editingUserId]="editingUserId"
  [initialUserData]="initialUserData"
  (closeModal)="onUserModalClose()"
  (updated)="userService.fetchUserProfile()">
</app-user-form>

<app-email-form
  [isOpen]="isEmailModalOpen"
  [editingUserId]="editingUserId"
  [initialEmailData]="initialEmailData"
  (closeModal)="onEmailModalClose()"
  (updated)="userService.fetchUserProfile()">
</app-email-form>

<app-password-form
  [isOpen]="isPasswordModalOpen"
  [editingUserId]="editingUserId"
  [initialPasswordData]="initialPasswordData"
  (closeModal)="onPasswordModalClose()"
  (updated)="userService.fetchUserProfile()">
</app-password-form>

<app-address-form
  [isOpen]="isAddressModalOpen"
  [editingUserId]="editingUserId"
  [addressData]="initialAddressData"
  (closeEvent)="onAddressModalClose()"
  (updated)="userService.fetchUserProfile()">
</app-address-form>

<app-warning-message
  [isOpen]="isWarningOpen"
  [message]="warningMessage()"
  (close)="isWarningOpen.set(false)"
  (confirm)="confirmDelete()"
></app-warning-message>
