@if (isOpen()) {
  <div class="fixed inset-0 flex items-center bg-white/5 backdrop-blur-sm justify-center z-50">
    <div class="bg-base-100 shadow-2xl p-6 rounded-2xl w-full max-w-md relative">
      <app-button-close-modal
        (closeModal)="onCloseModal()">
      </app-button-close-modal>
      <h2 class="text-xl font-bold mb-4">Modifier mon adresse</h2>

      <form [formGroup]="addressForm" (ngSubmit)="submit()">
        <app-input
          formControlName="street"
          placeholder="Adresse"
          label="adresse">
        </app-input>

        <app-input
          formControlName="cityName"
          placeholder="Ville"
          label="ville"
          (input)="onCityInput($event)">
        </app-input>

        <div class="rounded mt-2 max-h-32 overflow-y-auto">
          @if (citySuggestions().length) {
            @for (city of citySuggestions(); track city.id) {
              <app-button
                color="neutral"
                class="btn-outline block w-full text-left px-2 py-1"
                (buttonClick)="selectCity(city)"
                (buttonKeydown)="undefined"
              >
                {{ city.name }}
              </app-button>
            }
          }
        </div>

        <app-input
          formControlName="cityId"
          type="hidden">
        </app-input>

        <div class="flex justify-end gap-2 mt-4">
          <app-button
            type="submit"
            [disabled]="isLoading()">
            @if(isLoading()) { <span class="loading loading-spinner"></span> }
            Sauvegarder
          </app-button>
        </div>
      </form>
    </div>
  </div>
}
